



@media (max-width:1030px){
    .main__forms{
        display: grid;
        grid-template-columns: 1fr !important;
        
       }
       .buscador{
           position: absolute;
           left:490px;
           margin-top: 249px !important;
          
    }

 
   #div__mostrador{
        margin-top: 118px !important;
    }


    }


@media (max-width:750px){
    .buscador{
        position: absolute;
        left:400px;
        margin-top: 249px !important;
       
 }


.form__section input{
    margin-bottom: 10px;
   border-radius: 3px;
   border-color: rgb(187, 187, 187);
   background-color: rgb(211, 191, 191);
   width: 160px;
}


 .search__input input{
     width: 170px;
     background-color: rgba(248, 249, 252, 0.452);
 }
    }



@media (max-width:647px){
    #section__productos{
        display: grid;
        gap: 8px;
        grid-template-columns:1fr 1fr !important;
        margin-top: 100px;
       margin-left: 20px;
    }
    .buscador{
        position: relative;
        left: 0px !important;
        margin-top: 15px !important;
       
 }

 .showProduct{
     margin-top: 100px;
     margin-left: 40px;
 }

#div__mostrador{
    
    margin: 0 auto !important;
}
#formProds{
    display: flex !important;
    flex-direction: column !important;
}
       

#calcButton{
    margin-top: 40px !important;
}

#div__costoFinal{
    margin-top: 100px !important;
}
 }


 @media (max-width:457px){
    .form__section{
   margin-left: -40px !important;
    }

    
    #section__productos{
        margin: 0 auto;
        grid-template-columns:1fr !important;
    
    }

 }
    
    *{
        box-sizing: border-box;
    }

body{
    background-image: url("./img/mark.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}

.nav__ul{
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
   
}
.nav__ul a{
    text-decoration: none;
    color: whitesmoke;
}

 .main__forms{
 display: grid;
 grid-template-columns: 1fr 1fr;
 
}


#delete{
    background-color: red !important;
}

.addCard{
    width: 200px;
    height: 304px;
    color:#000000;
    background-color: rgba(255, 255, 255, 0.692) !important ; 
    border: solid 2px rgb(0, 0, 0) !important;
    border-bottom: none !important;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px !important;
}

.addCard ul{
    border-top: 2px solid black;
  
}

.addCard img{
    border-radius: 0px !important;
    
    border-bottom: none;
    border-top: none;
    border-width: 3px;
    
}

.addCard button{
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.btn{
   /*background-color: #474736 !important;*/
   background-color: rgba(86, 153, 253, 0.747) !important;
   font-family: "Heebo" !important;
}

    #section__productos{
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
       
    }
    #div__mostrador{
        border: solid 2px black;
        height: 205px;
        width: 350px;
        margin-left: 40px;
    }

    .addLogo{
       margin-top: 150px;
       
    }

#section__productos img{
   
   
    border-radius: 10px;
    width: 180px;
    display: flex;
    margin: 0 auto;
    
}

#priceFinal{

    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-left: none;
    border-radius: 5px;
    background-color: #31313146;
    background-color: rgba(97, 97, 97, 0.726);
}

.sucessIcon{
    margin-left: 80px;
    margin-top: 30px;
    width: 60px;
    margin-bottom: 20px;
    
}

.card__filtrado{
    width:240px;
    margin-top: 30px;
    border: solid 2px black;
    border-radius: 5px;
    display: grid;
    padding: 10px;
    color: black;
    font-weight: bold;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(97, 97, 97, 0.397);
    
}


#formProds{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border: solid 2px rgb(8, 8, 8);
    padding: 20px;
    border-radius: 5px;   
    border-right: none;
    color: #000000;
    margin-left: 60px;
    font-family: 'Merriweather', serif !important;
    background-color: rgba(97, 97, 97, 0.726);
 
}

#formProds input{
    border-radius: 3px;
    border: 1px #2c2c2b solid;
    background-color: rgba(97, 97, 97, 0.644);
    border-top: 0;
    border-left: 0;
}

.form__section{
    display: flex;
 margin: 0 auto;
}

.form__section input{
    margin-bottom: 10px;
   border-radius: 3px;
   border-color: rgb(187, 187, 187);
   background-color: rgb(211, 191, 191);
}



#div__costoFinal{
    background-color: rgba(97, 97, 97, 0.397) ;
    border: solid 1px black;
    border-right: none;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px !important;
    font-weight: bold;
}

#calcButton{
    margin-top: 20px;
    background-color: #58aeff9c !important;
}

#div__costoFinal button{

    border-radius: 0px !important;
}



.div__buscador input{
    height: 27px;
    border-radius: 5px;
    border-top: 0px;
    border-left: 0px;
  
}
.div__buscador button{
   
    margin-left:-15px;
    margin-bottom: 5px;
    height: 27px;
    background-color: rgb(96, 133, 236) !important;
    text-align: center !important;
   
   
}

#div__mostrador{
    border-radius: 5px;
    background-color: rgba(97, 97, 97, 0.397) ;
    /*background: rgb(154,154,154);
    background: linear-gradient(90deg, rgba(154,154,154,1) 0%, rgba(173,173,173,1) 35%, rgba(175,172,172,1) 65%, rgba(194,179,179,1) 100%);
 */
 }


#clickSucess{
   padding: 5px;
   margin-top: 13px;
    
    
}

.img-promise{
    border:solid 1px;
    border-radius: 10px !important;
    width: 180px !important;
    height: 180px !important;
}

.buscador{
  margin: 0 auto;
  margin-top: 40px;
}


.search__input input{
    background-color: rgba(248, 249, 252, 0.452);
}

.search__input ::placeholder { color: rgb(0, 0, 0); }

.cardIzq{
    display: flex;
  flex-direction: column;
    align-items: center;
    background-color: rgba(97, 97, 97, 0.849) !important ;
    border: solid 1px gainsboro;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.cardIzq h4{
    color: black;
    font-weight: bolder;
    border-bottom: solid 2px;
    width: 350px;
    text-align: center;
    
}


.cardIzq ul{
    margin-left:5px;
}

.cardIzq__text{
    display: flex !important;
    align-items: center;
}

.cardIzq img{
    width: 120px;
  
   
}

.socialIcons{
    display: flex;
    margin: 0 auto;
    gap: 5px;
    
    
}

.socialIcons img{
width: 20px;

}



#sticky-footer{
    margin-top: 20%;
}